:root {
  --calculator-background: #2d2a37;
  --light-gray: #6b6b6b;
  --white: #ebebeb;
  --light-violet: #7f45e2;
  --violet: #975dfa;
  --dark-violet: #462878;
  --option-background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    var(--calculator-background);
  --operations-option: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.05) 0.01%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    #462878;
  --equals-option: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    #7f45e2;
}

body {
  margin: 0;
  padding: 0;

  background: linear-gradient(180deg, #807ece 0%, #8e7ece 100%);
}

@font-face {
  font-family: "Rubik";
  src: url("assets/fonts/rubik/Rubik-Regular.ttf");
}
